body {
  font: 20px sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.appContainer{
  text-align: center;
}

h1 {
  font-size: 3rem;
  background-color: #DC0229;
  border: 10px solid #050505;
  color:#F3CE8D;
  text-shadow: 0 0 5px #666;
  padding: 3rem;
  text-align: center;
}

img {
  height: 350px;
}
